@charset "UTF-8";

body {
	height: 100%;
	width: 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	background-image:;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -3;
	opacity: 1.2em;
}

body:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	-webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	-ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	transition: opacity 1.5s ease-in-out, visibility 1.5s;
	content: '';
	background-image: url(../images/drone.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	
	position: fixed;
	display: block;
	top: 0;
	opacity: 0.22;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	visibility:;
	opacity: 1;
	background-attachment: scroll;
	background-position: top;
	background-size: 100%;
}

#body {
	width: 100%;
	vertical-align: middle;
	float: none;
	display: flex;
}
/* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
#map {
	height: 500px;
	width: 60%;
	margin-top: 30px;
	margin-left: 50px;
	display: inline-block;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
}

#menu {
	margin-left: 60px;
	margin-right: 60px;
	height: 80px;
	padding-top: 40px;
	background-color: #48D1CC;
	border-top-left-radius: 30px 30px;
	border-top-right-radius: 30px 30px;
	border-bottom-right-radius: 30px 30px;
	border-bottom-left-radius: 30px 30px;
}

#menu nav ul li {
	border-radius: 4px;
	display: inline-block;
	margin-left: 2.5em;
	padding-left: 0;
}

#menu nav ul li a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: #00000;
	display: inline-block;
	text-decoration: none;
	font-size: 2em;
}

#menu nav ul li a:hover {
	color: #F0F8FF;
}

#menu nav ul {
	height: 100px;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#les-drones ul {
	list-style: none;
}

a {
	color: #000000;
	font-size: 1.2em;
	text-decoration: none;
}

#les-drones {
	height: 400px;
	width: 30%;
	margin-left: 50px;
	margin-top: 30px;
	display: inline-block;
	display: none;
	margin-right: 60px;
	padding: 50px 50px 50px 50px;
	background-color: #48D1CC;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
}

#localiser-drone {
	height: 400px;
	width: 30%;
	margin-left: 50px;
	margin-top: 30px;
	background-color: silver;
	display: inline-block;
	display: none;
	margin-right: 60px;
	padding: 50px 50px 50px 50px;
	background-color: #48D1CC;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
}

button {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
}

#infoDrone1 {
	display: none;
}

#infoDrone2 {
	display: none;
}